{% extends "asosiy/base.html" %}
{% load static %}


{% block title %}Arizalar{% endblock %}

{% block content %}

<div class="container-fluid mt-5">


    {% if user.role == 'talaba' %}


    <div class="mx-4 border border-1 rounded-1">

        <div class="d-flex justify-content-center align-items-center p-2 border-bottom border-3">
            <p class="h4">Malumotlarim</p>
        </div>

        <div class="row row-cols-2 px-3">
            

            <div class="col py-2">
                <strong>Familya: </strong>
                {{last_name}}
            </div>
            <div class="col py-2">
                <strong>Ism: </strong>
                {{first_name}}
            </div>

            <div class="col py-2">
                <strong>Sharif: </strong>
                {{sharif}}
            </div>
            <div class="col py-2">
                    <strong>Fakultet: </strong>
                {{fakultet}}
            </div>

            <div class="col py-2">
                <strong>Yonalish: </strong>
                {{yonalish}}
            </div>
            <div class="col py-2">
                    <strong>Kurs: </strong>
                {{kurs}}
            </div>

            <div class="col py-2">
                <strong>Guruh: </strong>
                {{guruh}}
            </div>
            <div class="col py-2">
                    <strong>GPA: </strong>
                {{gpa}}
            </div>

            

        </div>


    </div>




    {% endif %}


</div>

{% endblock %}