{% extends "asosiy/base.html" %}
{% load static %}


{% block title %}Natijalar{% endblock %}

{% block content %}

<div class="container-fluid mt-5">


    {% if user.role == 'talaba' %}


    <div class="mx-4 border border-1 rounded-1">

        <div class="d-flex justify-content-center align-items-center p-2 border-bottom border-3">
            <p class="h4">Natijalar</p>
        </div>
        <ul class="list-group pt-2">
            {% for n in natija_data %}

            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom border-0">
                {{ n.user.last_name }} {{ n.user.first_name }}
                <p>
                    Jami 98
                </p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom border-0">
                {{ n.user.last_name }} {{ n.user.first_name }}
                <p>
                    Jami 92
                </p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom border-0">
                {{ n.user.last_name }} {{ n.user.first_name }}
                <p>
                    Jami 85
                </p>
            </li>
           
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center py-3">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </ul>
    </div>




    {% endif %}


</div>

{% endblock %}