{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/itpark_logo.png' %}">

    <title>Bosh sahifa</title>
</head>

<body class="bg-body-tertiary">

    <div class="container-fuild d-none d-md-block">


        {% if user.is_authenticated %}

        <div class="row sticky-top bg-body-tertiary border-bottom border-3 mx-0">
                <div class="container-fluid d-flex justify-content-between align-items-center  px-4 py-2">

                    <a class="h5 py-2" style="text-decoration: none;" href="{% url 'home' %}">
                        Qo`qon Davlat Unversiteti
                    </a>
                    <div class="dropdown-center">
                        <button class="btn btn-white border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Kabinet</a></li>
                            <li><a class="dropdown-item link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'chiqish' %}">Chiqish</a></li>
                        </ul>
                    </div>

                </div>

        </div>



        <div class="row min-vh-100 mx-0">

            <div class="col-3">
                saidbar

            </div>
             
            <div class="col-9">
                {% block content %}
                {% endblock content %}
            </div>


        </div>


        {% else %}

        <div class="row">
            <a href="{% url 'kirish' %}">kirish</a>
            <br>
            <a href="{% url 'royhat' %}">royhat</a>
        </div>
        {% endif %}


    </div>

    <div class=" d-block d-md-none">
        <h1 class="text-center text-danger mt-5">
            Tizimga faqat kompyuterdan kiring !!!
        </h1>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>