{% extends "asosiy/base.html" %}
{% load static %}


{% block title %}Bosh sahifa{% endblock %}

{% block content %}

    <div class="container-fluid">


        {% if user.role == 'superadmin' %}

            <div class="row">

                {% include "asosiy/superadmin.html" %}

            </div>

        {% elif user.role == 'admin' %}

            <div class="row">

                {% include "asosiy/admin.html" %}

            </div>


        {% else %}

            <div class="row">

                {% include "asosiy/admin.html" %}

            </div>

        {% endif %}


    </div>

{% endblock %}