<div class="container-fluid">


    <div class="row">
        <h1>Hush kelibsiz SuperAdmin</h1>
    </div>
    <div class="row p-4">
        <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="card">
                <h5 class="card-title d-flex justify-content-center align-items-center border-bottom border-3 m-0" style="min-height: 25vh;">
                    <i class="fa-regular fa-users fa-6x"></i>
                </h5>
                <div class="card-body p-0">
                    <a href="{% url 'adminlar' %}" class="d-flex justify-content-center fw-medium text-decoration-none fs-5 py-2">Adminlar</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="card">
                <h5 class="card-title d-flex justify-content-center align-items-center border-bottom border-3 m-0" style="min-height: 25vh;">
                    <i class="fa-solid fa-list fa-6x"></i>
                </h5>
                <div class="card-body p-0">
                    <a href="#" class="d-flex justify-content-center fw-medium text-decoration-none fs-5 py-2">Arizalar</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="card">
                <h5 class="card-title d-flex justify-content-center align-items-center border-bottom border-3 m-0" style="min-height: 25vh;">
                    <i class="fa-solid fa-square-poll-vertical fa-6x"></i>
                </h5>
                <div class="card-body p-0">
                    <a href="#" class="d-flex justify-content-center fw-medium text-decoration-none fs-5 py-2">Natijalar</a>
                </div>
            </div>

        </div>
    </div>


</div>